<nav class="nav collapsible">
  <a class="nav__logo" href="/">
    <img class="icon" src="./images/Logo 04.png" alt="EnglishHubOnline logo" />
    <span>English Hub Online</span>
  </a>
  <svg
    class="icon icon--white nav__toggler"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-list"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
    />
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item">
      <a href="#">Hosting</a>
    </li>
    <li class="nav__item">
      <a href="#">VPS</a>
    </li>
    <li class="nav__item">
      <a href="#">Domain</a>
    </li>
    <li class="nav__item">
      <a href="#">Pricing</a>
    </li>
  </ul>
</nav>
