<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui explicabo
    maxime, numquam molestiae delectus tempora deleniti necessitatibus ut
    dolorem nemo?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-dash-lg quote__line"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"
          />
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Doe</h3>
        <p class="quote__author-title">English Teacher</p>
      </div>
    </div>
  </footer>
</blockquote>
